$colPrimary: rgb(33, 31, 34);
$colSecondary: rgb(223, 223, 223);
$colPrimaryAccent: rgb(255, 34, 134);
$colPrimaryAccent--faded: rgb(244, 129, 181);
$colSecondaryAccent: rgb(194, 34, 58);

$transitionFast: 0.2s;
$transitionMed: 0.4s;
$transitionSlow: 0.6s;
